---
import Component from "../components/Counter.svelte";
import Layout from "../layouts/Layout.astro";

// This feature is based on https://github.com/GeordieP/bpm
// and https://github.com/JMPerez/beats-audio-api

---

<div>
  <Component client:only="svelte"/>
</div>