---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.jsx";
import Experience from "../components/Experience.jsx";
import Skills from "../components/Skills";
---

<Layout title="Welcome to Astro.">
	<div class="flex flex-col lg:h-screen lg:w-auto overflow-none">
		<div class="flex items-center rounded-b-2xl p-6 bg-card">
			<img class="object-contain w-24" src="../wlogo.svg" />
		</div>
		<div class="flex flex-col bottom-0 fixed mb-6 space-y-3 rounded-lg p-6">
			<a href="http://www.github.com/sh1ggy" class="hover:scale-90 transition-transform">
				<img class="object-contain w-12" src="../github.svg" />
			</a>
			<a href="https://www.linkedin.com/in/tyrone-nolasco/" class="hover:scale-90 transition-transform">
				<img class="object-contain w-12" src="../linkedin.svg" />
			</a>
		</div>
		<main class="flex flex-col justify-center items-center">
			<section class="container space-y-12 snap-mandatory snap-y">
				<div class="snap-start">
					<About client:load />
				</div>
				<div class="snap-start">
					<Experience client:visible />
				</div>
				<div class="snap-start">
					<Skills client:visible />
				</div>
			</div>
		</section>
	</div>
</Layout>

<style>
	main {
		background-color: theme("colors.page");
	}
	h1 {
		font-family: Signika;
	}
	h2,
	h3 {
		font-family: Comic Mono;
	}
	p {
		background-color: theme("colors.body");
	}
</style>
