---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.jsx";
import Experience from "../components/Experience.jsx";
import Skills from "../components/Skills";
import Contact from "../components/Contact";
import Projects from "../components/Projects";
import Hackathons from "../components/Hackathons";
import "../styles.css";
---

<Layout title="sh1ggy-web">
	<div class="flex flex-col lg:h-screen lg:w-auto overflow-y  scrollbar-thin scrollbar-track-container">
		<!-- SOCIALS -->
		<div
			class="flex flex-col bottom-0 fixed mb-6 space-y-3 rounded-lg p-6 z-10"
		>
			<a
				href="https://www.github.com/sh1ggy"
				class="hover:scale-90 transition-transform focus:outline-none drop-shadow-xl"
			>
				<img class="object-contain w-12" src="../github.svg" />
			</a>
			<a
				href="https://www.linkedin.com/in/tyrone-nolasco/"
				class="hover:scale-90 transition-transform focus:outline-none drop-shadow-xl"
			>
				<img class="object-contain w-12" src="../linkedin.svg" />
			</a>
		</div>
		<!-- NAVBAR -->
		<header
			id="header"
			class="flex items-center rounded-b-2xl px-6 bg-card sticky top-0 w-full z-50"
		>
			<a
				href="#"
				class="text-body rounded-lg hover:bg-[#4c515e] p-5 transition-all duration-1000 focus:outline-none"
			>
				<img class="object-contain w-24" src="../wlogo.svg" />
			</a>
			<div class="ml-auto p-6 font-mukta">
				<a
					href="#exp"
					class="text-body rounded-lg hover:bg-[#4c515e] p-5 transition-all duration-1000 focus:outline-none"
					>Experience</a
				>
				<a
					href="#proj"
					class="text-body rounded-lg hover:bg-[#4c515e] p-5 transition-all duration-1000 focus:outline-none"
					>Projects</a
				>
				<a
					href="#skills"
					class="text-body rounded-lg hover:bg-[#4c515e] p-5 transition-all duration-1000 focus:outline-none"
					>Skills</a
				>
				<a
					href="#contact"
					class="text-body rounded-lg hover:bg-[#4c515e] p-5 transition-all duration-1000 focus:outline-none"
					>Contact</a
				>
			</div>
		</header>
		<main class="flex flex-col justify-center items-center flex-grow">
			<section
				class="container space-y-96 snap-proximity lg:snap-mandatory snap-y"
			>
				<div tabindex="-1" class="fade fadeOut lg:snap-center">
					<About client:visible />
				</div>
				<div tabindex="-1" id="exp" class="fade fadeOut lg:snap-center">
					<Experience client:visible />
				</div>
				<div tabindex="-1" id="proj" class="fade fadeOut lg:snap-center">
					<Projects client:visible />
				</div>
				<div tabindex="-1" id="hack" class="fade fadeOut lg:snap-start">
					<Hackathons client:visible />
				</div>
				<div tabindex="-1" id="skills" class="fade fadeOut lg:snap-center">
					<Skills client:visible />
				</div>
				<div tabindex="-1" id="contact" class="fade fadeOut lg:snap-center">
					<Contact client:visible />
				</div>
			</section>
		</main>
		<!-- FOOTER -->
		<footer
			class="flex items-center rounded-t-xl p-6 bg-card w-full shadow-lg justify-center"
		>
			<p class="text-body bg-card">
				{"Designed & Built with <3 by Tyrone Nolasco"}
			</p>
		</footer>
	</div>
	<script>
		const observerOptions = {
			root: null,
			rootMargin: "0px",
			threshold: 0.2,
		};

		function observerCallback(entries, observer) {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					// fade in observed elements that are in view
					entry.target.classList.replace("fadeOut", "fadeIn");
				} else {
					// fade out observed elements that are not in view
					entry.target.classList.replace("fadeIn", "fadeOut");
				}
			});
		}

		const observer = new IntersectionObserver(
			observerCallback,
			observerOptions
		);

		const fadeElms = document.querySelectorAll(".fade");
		fadeElms.forEach((el) => observer.observe(el));
	</script>
</Layout>

<style>
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* .vertical-snap {
		margin: 0 auto;
		display: grid;
		grid-auto-flow: row;
		gap: 1rem;
		width: calc(180px + 1rem);
		padding: 1rem;
		scroll-snap-type: y mandatory;
	} */
	.fade {
		transition: opacity 1s ease-in-out;
	}

	.fadeOut {
		opacity: 0;
	}
	.fadeIn {
		opacity: 1;
	}
	html {
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
	}
	main {
		background-color: theme("colors.page");
	}
	h1 {
		font-family: theme("fontFamily.signika");
	}
	h2,
	h3 {
		font-family: theme("fontFamily.mukta");
	}
	p {
		background-color: theme("colors.body");
		font-family: theme("fontFamily.ubuntu");
	}
	strong {
		font-family: theme("fontFamily.signika");
	}
</style>
