---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.jsx";
import Experience from "../components/Experience.jsx";
import Skills from "../components/Skills";
import Contact from "../components/Contact";
import Projects from "../components/Projects";
import Hackathons from "../components/Hackathons";
import "../styles.css";
import { Header } from "../components/Header";
---

<Layout title="sh1ggy-web">
	<div class="flex flex-col lg:h-screen lg:w-auto">
		<Header client:load />
		<!-- SOCIALS -->
		<div
			class="flex flex-col bottom-0 fixed mb-6 space-y-3 rounded-lg p-6 z-10"
		>
			<a
				href="https://www.github.com/sh1ggy"
				class="hover:scale-90 transition-transform focus:outline-none"
			>
				<img class="object-contain w-12" src="../github.svg" />
			</a>
			<a
				href="https://www.linkedin.com/in/tyrone-nolasco/"
				class="hover:scale-90 transition-transform focus:outline-none"
			>
				<img class="object-contain w-12" src="../linkedin.svg" />
			</a>
		</div>
		<main class="flex flex-col justify-center items-center flex-grow">
			<div
				id="fullpage"
				class="container snap-proximity lg:snap-proximity space-y-96 snap-y"
			>

				<div tabindex="-1" class="section opacity-0 animate-fade-in">
					<About client:visible />
				</div>
				<div tabindex="-1" id="exp" class="section">
					<Experience client:visible />
				</div>
				<div tabindex="-1" id="proj" class="section">
					<Projects client:visible />
				</div>
				<div tabindex="-1" id="hack" class="section">
					<Hackathons client:visible />
				</div>
				<div tabindex="-1" id="skills" class="section">
					<Skills client:visible />
				</div>
				<div tabindex="-1" id="contact" class="section">
					<Contact client:visible />
				</div>
			</div>
			<!-- <div class="container snap-proximity lg:snap-proximity space-y-96 snap-y">
				<div
					tabindex="-1"
					class="opacity-0 animate-fade-in lg:snap-center snap-always"
				>
					<About client:visible />
				</div>
				<div tabindex="-1" id="exp" class="lg:snap-center snap-always">
					<Experience client:visible />
				</div>
				<div tabindex="-1" id="proj" class="lg:snap-center snap-always">
					<Projects client:visible />
				</div>
				<div tabindex="-1" id="hack" class="">
					<Hackathons client:visible />
				</div>
				<div tabindex="-1" id="skills" class="lg:snap-center snap-always">
					<Skills client:visible />
				</div>
				<div tabindex="-1" id="contact" class="lg:snap-start snap-always">
					<Contact client:visible />
				</div>
			</div> -->
		</main>
		<!-- FOOTER -->
		<footer
			class="flex items-center rounded-t-xl p-6 bg-card w-full shadow-lg justify-center"
		>
			<p class="text-body bg-card">
				{"Designed & Built with <3 by Tyrone Nolasco"}
			</p>
		</footer>
	</div>
	<script>
		const element = document.getElementById("fullpage");
		new fullpage(element, {
			//options here
			autoScrolling: true,
			scrollHorizontally: true,
		});
	</script>
</Layout>

<script>
	// Get all elements with the animate-fade-in class
	const fadeElements = document.querySelectorAll(".animate-fade-in");

	// Create a new Intersection Observer
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				// Add the "opacity-100" class to fade in the element
				entry.target.classList.add("opacity-100");
				// Stop observing the element once it's faded in
				observer.unobserve(entry.target);
			}
		});
	});

	// Start observing each fade element
	fadeElements.forEach((element) => {
		observer.observe(element);
	});
</script>

<style>
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.animate-fade-in {
		animation: fade-in 1s ease-in-out;
	}

	html {
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
	}
	footer::after {
		content: "";
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: theme("colors.card");
		z-index: -1;
	}
	main {
		background-color: theme("colors.page");
	}
	h1 {
		font-family: theme("fontFamily.signika");
	}
	h2,
	h3 {
		font-family: theme("fontFamily.mukta");
	}
	p {
		background-color: theme("colors.body");
		font-family: theme("fontFamily.ubuntu");
	}
	strong {
		font-family: theme("fontFamily.signika");
	}
</style>
