---
import { type MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";
const { headings } = Astro.props;

function buildToc(headings: MarkdownHeading[]) {
  const toc: MarkdownHeading[] = [];
  const parentHeadings = new Map();
  headings.forEach((h: MarkdownHeading) => {
    const heading = {...h, subheadings: []}; 
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    }
    else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  })
  return toc;
}
const toc = buildToc(headings);


---

<nav class="toc prose max-w-none">
  <ul>
    { 
      toc.map((heading: MarkdownHeading) => <TOCHeading heading={heading}/>)
    }
  </ul>
</nav>