---
import { MarkdownHeading } from "astro";
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li>
  <a class="text-link" href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading: MarkdownHeading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>