@tailwind base;
@tailwind components;
@tailwind utilities;

@import('https://fonts.googleapis.com/css?family=Signika');
@import('https://fonts.googleapis.com/css?family=Ubuntu');
@import('https://fonts.googleapis.com/css?family=Mukta');

main {
  background-color: theme("colors.card");
}
h1 {
  font-family: theme("fontFamily.signika");
}
h2,h3 {
  font-family: theme("fontFamily.mukta");
}
p {
  font-family: theme("fontFamily.ubuntu");
}

		